body {
    background-color: #1A1A1D;
    color: #F0F0F0;
  }

  a {
    color: #1fbbba;
  }

  a:hover {
    color: #F0F0F0;
  }

  h1{
    display:none;
  }

  h2, h3, h4, h5, h6 {
    color: #F0F0F0;
  }

  hr {
    border-top: 1px solid #F0F0F0;
  }

  code, pre, .highlight, .language-plaintext, .highlighter-rouge {    
    background-color: #161b22;    
  }
