/*Universal*/
*{
    padding: 0;
    margin: 0;
}

:root{
    /*Color*/
    --active_nav: rgb(221 102 0);
    --sub_name:rgb(67, 67, 67);

    /*Sizes*/
    --logo_size:50px;

    /*Shadows*/
    --shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header{
    width: 100%;
    background-color: white;
    box-shadow: var(--shadow);
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo_container{
    width: fit-content;
    display: flex;
    flex-direction: row;
}

#logo{
    height: var(--logo_size);
    width: var(--logo_size);
    margin: 5px;
    user-select: none;
    cursor: pointer;
}

#logo_content{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    user-select: none;
}

#web_subName{
    color: var(--sub_name);
    font-size: 15px;
}


#nav_container{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
}

.nav_list{
    margin: 5px;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
}

.active_nav{
    color: var(--active_nav);
}

.page{
    background-color: red;
    width: 100%;
}